<div class="row">
  <div class="col-sm-4">
    <h2>input</h2>
    <input type="number" class="number-input" ng-model="main.input1" />
    <input type="number" class="number-input" ng-model="main.input2" />
  </div> <!-- col-sm-6 -->
  <div class="col-sm-4" ng-show="main.input1 !== null && main.input2 !== null">
    <h2>output</h2>
    <p>{{main.input1}} + {{main.input2}} = {{main.input1 + main.input2}}</p>
    <p>{{main.input1}} - {{main.input2}} = {{main.input1 - main.input2}}</p>
    <p>{{main.input1}} / {{main.input2}} = {{main.input1 / main.input2}}</p>
    <p>{{main.input1}} * {{main.input2}} = {{main.input1 * main.input2}}</p>
  </div> <!-- col-sm-6 -->
</div> <!-- row -->